.containerForm {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.containerPesquisaForm {
    width: 40%;
}